<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">商品登録</h2>
      <%= form_with(model: @item, local: true) do |form| %>

        <%= render 'shared/error_messages', model: form.object %>

        <div class="field">
          <%= form.text_field :name, placeholder: "商品名" %>
          <%= form.text_field :purchase_price, placeholder: "仕入れ価格" %>円
        </div>
        <div class="actions">
          <%= form.submit "登録", class: :form__btn %>
        </div>  
      <% end %>
      <div><%= link_to "トップページへ戻る", root_path, class: "menu" %>
      </div>
    </div>
  </div>
</div>